Assingment_4/FediLogger/logger.dtd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by wo (ke) --><!--DTD generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)--><!ELEMENT Handlers (LogEventHandler*)><!ELEMENT LogEventHandler (property?)><!ATTLIST LogEventHandler	id (default | secs) #REQUIRED	class CDATA #IMPLIED><!ELEMENT LogLevel (LogEventHandler+)><!ATTLIST LogLevel	id (0 | 1 | 2 | 3 | 4 | 5) #REQUIRED	name (V_ALL | V_DEBUG | V_ERROR | V_FATAL | V_INFO | V_WARN) #REQUIRED><!ELEMENT LogLevels (LogLevel+)><!ATTLIST LogLevels	max CDATA #REQUIRED><!ELEMENT LoggerProfile (Version, Handlers, LogLevels)><!ELEMENT Version EMPTY><!ATTLIST Version	major CDATA #REQUIRED	minor CDATA #REQUIRED	build CDATA #REQUIRED><!ELEMENT property (#PCDATA)><!ATTLIST property	id CDATA #REQUIRED	type CDATA #REQUIRED>